@font-face {
  font-family: "Roboto Condensed";
  src: url("../fonts/RobotoCondensed-Regular.eot");
  src: local("Roboto Condensed"), local("RobotoCondensed-Regular"),
    url("../fonts/RobotoCondensed-Regular.eot?#iefix")
      format("embedded-opentype"),
    url("../fonts/RobotoCondensed-Regular.woff") format("woff"),
    url("../fonts/RobotoCondensed-Regular.ttf") format("truetype");
  font-weight: normal;
  font-style: normal;
  font-display: swap;
}
@font-face {
  font-family: "Roboto Condensed";
  src: url("../fonts/RobotoCondensed-Bold.eot");
  src: local("Roboto Condensed Bold"), local("RobotoCondensed-Bold"),
    url("../fonts/RobotoCondensed-Bold.eot?#iefix") format("embedded-opentype"),
    url("../fonts/RobotoCondensed-Bold.woff") format("woff"),
    url("../fonts/RobotoCondensed-Bold.ttf") format("truetype");
  font-weight: bold;
  font-style: normal;
  font-display: swap;
}
@font-face {
  font-family: "Roboto Condensed";
  src: url("../fonts/RobotoCondensed-Light.eot");
  src: local("Roboto Condensed Light"), local("RobotoCondensed-Light"),
    url("../fonts/RobotoCondensed-Light.eot?#iefix") format("embedded-opentype"),
    url("../fonts/RobotoCondensed-Light.woff") format("woff"),
    url("../fonts/RobotoCondensed-Light.ttf") format("truetype");
  font-weight: 300;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: "Roboto";
  src: url("../fonts/Roboto-Bold.eot");
  src: local("Roboto Bold"), local("Roboto-Bold"),
    url("../fonts/Roboto-Bold.eot?#iefix") format("embedded-opentype"),
    url("../fonts/Roboto-Bold.woff") format("woff"),
    url("../fonts/Roboto-Bold.ttf") format("truetype");
  font-weight: bold;
  font-style: normal;
}

@font-face {
  font-family: "Roboto";
  src: url("../fonts/Roboto-Regular.eot");
  src: local("Roboto"), local("Roboto-Regular"),
    url("../fonts/Roboto-Regular.eot?#iefix") format("embedded-opentype"),
    url("../fonts/Roboto-Regular.woff") format("woff"),
    url("../fonts/Roboto-Regular.ttf") format("truetype");
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: "Montserrat";
  src: url("../fonts/Montserrat-Bold.eot");
  src: local("Montserrat Bold"), local("Montserrat-Bold"),
    url("../fonts/Montserrat-Bold.eot?#iefix") format("embedded-opentype"),
    url("../fonts/Montserrat-Bold.woff") format("woff"),
    url("../fonts/Montserrat-Bold.ttf") format("truetype");
  font-weight: bold;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: "Montserrat";
  src: url("../fonts/Montserrat-Regular.eot");
  src: local("Montserrat Regular"), local("Montserrat-Regular"),
    url("../fonts/Montserrat-Regular.eot?#iefix") format("embedded-opentype"),
    url("../fonts/Montserrat-Regular.woff") format("woff"),
    url("../fonts/Montserrat-Regular.ttf") format("truetype");
  font-weight: normal;
  font-style: normal;
  font-display: swap;
}
@font-face {
  font-family: "Rubik";
  src: url("../fonts/Rubik-Regular.eot");
  src: local("Rubik Regular"), local("Rubik-Regular"),
    url("../fonts/Rubik-Regular.eot?#iefix") format("embedded-opentype"),
    url("../fonts/Rubik-Regular.woff") format("woff"),
    url("../fonts/Rubik-Regular.ttf") format("truetype");
  font-weight: normal;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: "RoadRadio";
  src: url("../fonts/RoadRadio-Bold.eot");
  src: local("RoadRadio Bold"), local("RoadRadio-Bold"),
    url("../fonts/RoadRadio-Bold.eot?#iefix") format("embedded-opentype"),
    url("../fonts/RoadRadio-Bold.woff") format("woff"),
    url("../fonts/RoadRadio-Bold.ttf") format("truetype");
  font-weight: 700;
  font-style: normal;
  font-display: swap;
}
@font-face {
  font-family: "SFProDisplay-Regular";
  src:  url("../fonts/SFProDisplay-Regular.woff2") format("woff2");
  src: local("SFProDisplay Regular"), local("SFProDisplay-Regular");
  font-weight: 400;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: "SFProDisplay-Medium";
  src:  url("../fonts/SFProDisplay-Medium.woff2") format("woff2");
  src: local("SFProDisplay Medium"), local("SFProDisplay-Medium");
  font-weight: 500;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: "SFProDisplay-Semibold";
  src:  url("../fonts/SFProDisplay-Semibold.woff2") format("woff2");
  src: local("SFProDisplay Semibold"), local("SFProDisplay-Semibold");
  font-weight: 600;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: "SFProDisplay-Bold";
  src:  url("../fonts/SFProDisplay-Bold.woff2") format("woff2");
  src: local("SFProDisplay Bold"), local("SFProDisplay-Bold");
  font-weight: 700;
  font-style: normal;
  font-display: swap;
}
